/DB/environment/.terraform
/DB/environment/.terraform.lock.hcl
/DB/environment/terraform.tfstate
/DB/environment/terraform.tfstate*
/DB/environment/terraform.tfvars



/S3/environment/.terraform
/S3/environment/.terraform.lock.hcl
/S3/environment/terraform.tfstate
/S3/environment/terraform.tfstate*
/S3/environment/terraform.tfvars
